body{
    background-image: url(img/urna.jpg);
}
header{
    background-color: #9dbb79;
    color: #141204;
}
.banner-wrapper{
    background-color: #d5d694;
    color: #76bb86;
}
.center-page{

    color: #141204;
}
footer{
    background-color: #99582a;
    color: #8e443d;
}